* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Golos-UI_Regular;
    src: url(/css/fonts/Golos-UI_Regular.ttf);
}

@font-face {
    font-family: Golos-UI_Bold;
    src: url(/css/fonts/Golos-UI_Bold.ttf);
}

body {
    font-family: Golos-UI_Regular;
    background-color: #fff;
    width: 1440px;
    height: 1080px;
}

.sidebar {
    width: 72px;
    height: 1080px;
    left: -1px;
    border: 1px;
    background-color: #fff;
}

.sidebar-icon {
    position: absolute;
    top: 20px;
    left: 8px;
    margin-top: 20px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.icon-dot {
    margin-left: 10px;
    margin-bottom: 10px;
}

.icon-user {
    margin-top: 4px;
}

.icon-plus {
    margin-top: 15px;
}

.news-feed {
    width: 474px;
    height: 1338px;
    top: 73px;
    left: 482px;
    position: absolute;
    background-color: #fff;
}

.profile {
    position: relative;
    width: 474px;
    height: 32px;
}

.user {
    position: absolute;
    width: 132px;
    height: 32px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    position: absolute;
}

.user-name {
    width: 90px;
    height: 10px;
    font-family: Golos-UI_Bold;
    font-size: small;
    left: 50px;
    top: 10px;
    position: absolute;
}

.profile-edit {
    width: 24px;
    height: 24px;
    right: 0px;
    position: absolute;
}

.post-container {
    position: absolute;
    width: auto;
    height: auto;
    top: 80px;
    align-items: center;
}

.post-image {
    width: 474px;
    height: 474px;
    display: block
}

.post-indicator {
    position: absolute;
    width: 44px;
    height: 24px;
    top: 20px;
    left: 420px;
}

.like-button {
    position: absolute;
    width: 68px;
    height: 30px;
    position: absolute;
    top: 560px;

}

.post-text {
    position: relative;
    width: 474px;
    height: 37px;
    top: 570px;
    font-family: Golos-UI_Regular;
    size: 15px;
    line-height: 18px;
    color: #222
}

.post-time {
    position: relative;
    width: 120px;
    height: 18px;
    top: 590px;
    font-family: Golos-UI_Regular;
    size: 15px;
    color: #bbb;
}

.profile-top {
    margin-top: 10px;
}

.profile-bottom {
    margin-top: 620px;
}

.post-image-bottom {
    margin-top: 20px;
}